In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')
cutoff_date = '2020-09-02'
df['id'] = df['user_id'].astype(str) + ";" + df["cart"].astype(str)
df = df.drop(['user_id','cart'], axis=1)
df_before = df.loc[df['order_completed_at'] <= cutoff_date]
df_after = df.loc[df['order_completed_at'] > cutoff_date]

In [3]:
del df_before['order_completed_at']
del df_after['order_completed_at']
df_before['target']=1
df_after['target']=0
df_before = df_before.drop_duplicates(subset='id', keep='first')
df_after = df_after.drop_duplicates(subset='id', keep='first')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [4]:
result = pd.concat([df_before, df_after], join='outer', axis=0)
result = result.sort_values(by='target', ascending=False)

result = result.drop_duplicates(subset='id', keep='first')
result = result.sort_values(by='id')
result.head(40)

                id  target
2965138       0;10       1
2965135      0;133       1
2422917       0;14       1
2965159      0;157       1
3097188      0;169       0
3097179      0;170       0
2422913       0;20       1
2965141       0;22       1
2965143       0;25       1
2965137       0;26       1
2422920      0;379       1
2965139      0;382       1
2965150      0;383       1
2965156      0;396       1
3097186      0;398       0
3097187      0;399       0
3097185      0;401       0
2965154      0;402       1
2422918      0;405       1
2965151      0;409       1
2965142       0;41       1
2965145      0;411       1
2422919      0;430       1
2965147      0;432       1
3097182      0;440       0
2422915      0;441       1
2965136        0;5       1
3097184       0;55       0
2422916       0;57       1
3097181       0;61       0
2965146      0;799       1
3097178      0;803       0
2422914       0;82       1
2965152      0;821       1
2965149       0;83       1
2965148       0;84       1
956806     10000;0       1
956801    10000;14       1
1518278   10000;15       1
1829424  10000;157       1

In [6]:
df.loc[df['id'] == '0;61'] 
#result.head(40)

          order_completed_at    id
3097181  2020-09-02 07:38:25  0;61